<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello,
      <br><br>
      Please notice that <%= @person.first_name + ' ' +  @person.last_name %> has joined the application.
      <br><br>
      Regards, People System
    </p>
  </body>
</html>