<h1 class="text-center">About</h1>

<h2>People APP</h2>
<p>Programming project for Growth Acceleration Partners</p>
<p>Ruby on Rails position<p>

<h3>Technologies used</h3>

<ul>
	<li>Ruby 2.2</li>
	<li>Rails 4.2</li>
	<li>MySql</li>
</ul>